body {
    background-image: url(champion/splash/Fiora_31.jpg);
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

.championPage {
    flex: 1;
    border-radius: 50px;
    background-color: blue;
    display: none;
}

.topRight, .middleRight, .bottomRight {
    flex: 1;
    height: 33.33vh;
    border-radius: 30px;
    display: none;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

.leftSide {
    flex: 1;
}

.rightSide {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.lolgg {
    padding-left: 14%;
    padding-top: 1%;
}

.league {
    padding-left: 5%;
    padding-top: 2%;
}

.championMastery {
    padding-left: 4%;
    padding-bottom: 2%;
}

h2 {
    padding-left: 3%;
    margin-bottom: 0;
}

#summonerSearch {
    width: 50%;
    height: 40px;
    background: linear-gradient(to right, white, deepskyblue);
    border-radius: 20px;
    padding: 0 10px;
    margin-bottom: 4%;
}

#championSearch {
    position: relative;
    width: 155%;
    height: 40px;
    background: linear-gradient(to right, white, deepskyblue);
    border-radius: 20px;
    padding: 0 10px;
}

.search-bar-container {
    position: relative;
    display: inline-block; 
}

.arrow {
    position: absolute;
    left: 150%;
    font-size: 20px;
    color: gray;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.dropdownMenu {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 0%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
    z-index: 1;
}

.dropdownMenu a {
    display: flex;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

.dropdownMenu a::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: cover;
}

.dropdownMenu a.option1::before {
    background-image: url(champion/tiles/Aatrox_0.jpg);
}
.dropdownMenu a.option2::before {
    background-image: url(champion/tiles/Ahri_0.jpg);
}
.dropdownMenu a.option3::before {
    background-image: url(champion/tiles/Akali_0.jpg);
}
.dropdownMenu a.option4::before {
    background-image: url(champion/tiles/Akshan_0.jpg);
}
.dropdownMenu a.option5::before {
    background-image: url(champion/tiles/Alistar_0.jpg);
}
.dropdownMenu a.option6::before {
    background-image: url(champion/tiles/Amumu_0.jpg);
}
.dropdownMenu a.option7::before {
    background-image: url(champion/tiles/Anivia_0.jpg);
}
.dropdownMenu a.option8::before {
    background-image: url(champion/tiles/Annie_0.jpg);
}
.dropdownMenu a.option9::before {
    background-image: url(champion/tiles/Aphelios_0.jpg);
}
.dropdownMenu a.option10::before {
    background-image: url(champion/tiles/Ashe_0.jpg);
}
.dropdownMenu a.option11::before {
    background-image: url(champion/tiles/AurelionSol_0.jpg);
}
.dropdownMenu a.option12::before {
    background-image: url(champion/tiles/Azir_0.jpg);
}
.dropdownMenu a.option13::before {
    background-image: url(champion/tiles/Bard_0.jpg);
}
.dropdownMenu a.option14::before {
    background-image: url(champion/tiles/Belveth_0.jpg);
}
.dropdownMenu a.option15::before {
    background-image: url(champion/tiles/Blitzcrank_0.jpg);
}
.dropdownMenu a.option16::before {
    background-image: url(champion/tiles/Brand_0.jpg);
}
.dropdownMenu a.option17::before {
    background-image: url(champion/tiles/Braum_0.jpg);
}
.dropdownMenu a.option18::before {
    background-image: url(champion/tiles/Briar_0.jpg);
}
.dropdownMenu a.option19::before {
    background-image: url(champion/tiles/Caitlyn_0.jpg);
}
.dropdownMenu a.option20::before {
    background-image: url(champion/tiles/Camille_0.jpg);
}

.dropdownMenu a:hover {
    background-color: rgba(0, 191, 255, 0.5);
}

.rightSide .champName1,
.rightSide .champName2,
.rightSide .champName3 {
    text-align: center;
    font-size: 45px;
    margin-top: 0;
    color: #fff;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

}

.champMastery {
    display: flex;
    justify-content: space-around;
}

.level, .mastery {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    padding-top: 5%;
    font-size: 130%;
    color: #fff;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.champPageName {
    text-align: center;
    font-size: 45px;
    margin-top: 0;
    color: #fff;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
        padding-top: 3%;
}

.champTitle {
    text-align: center;
    font-size: 35px;
    margin-top: 0;
    color: #fff;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.abilities {
    text-align: center;
    font-size: 35px;
    color: #fff;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    padding-top: 3%;
}

.spells {
    display: flex;
    flex-direction: column;
}

.qSpell, .wSpell, .eSpell, .rSpell {
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    border-radius: 20px;
    border-style: ridge;
}

.qSpell h2, .wSpell h2, .eSpell h2, .rSpell h2 {
    font-size: 50px;
    color: #fff;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.qSpellInfo, .wSpellInfo, .eSpellInfo, .rSpellInfo {
    color: #fff;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spellName1, .spellName2, .spellName3, .spellName4 {
    font-size: 30px;
}

.cooldownContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cooldown {
    font-size: 30px;
}

.spell1Cooldown, .spell2Cooldown, .spell3Cooldown, .spell4Cooldown {
    font-size: 20px;
}